<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>DS Zoo - Future Lab</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #184a69;">
    <!--<a class="navbar-brand" href="#">
        <img src="../static/images/landscape_white.png" width="8%" class="d-inline-block align-top" alt="">
    </a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><b>DS Zoo</b><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Frameworks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">TensorFlow</a>
            <a class="dropdown-item" href="#">Caffe</a>
            <a class="dropdown-item" href="#">Caffe2</a>
            <a class="dropdown-item" href="#">PyTorch</a>
            <a class="dropdown-item" href="#">MXNet</a>
            <a class="dropdown-item" href="#">Keras</a>
            <a class="dropdown-item" href="#">Chainer</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Visión Computacional</a>
            <a class="dropdown-item" href="#">Procesamiento de Lenguaje natural</a>
            <a class="dropdown-item" href="#">Modelos Generativos</a>
            <a class="dropdown-item" href="#">Aprendizaje Reforzado</a>
            <a class="dropdown-item" href="#">Aprendizaje no Supervisado</a>
            <a class="dropdown-item" href="#">Audio y Habla</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Colecciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Proximamente</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Postular un Modelo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/members">Members</a>
        </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- Main content -->
  {% block content %}
  {% endblock %}

  <footer class="page-footer color:blue background-color: #184a69; color:white;">
      <div class='' style="text-align: center; background-color: #184a69;">
          <div class=""
              style="width:250px; height:150px; display: inline-block; text-align: left; color:white;">
              <h1>Future<br>Lab</h1>
          </div>
          <div class=""
              style="width:250px; height:150px; display: inline-block;  margin: 20px; text-align: left; background-color: #184a69; color:white;">
              <p><b>Contacto</b></p>
              <p class="" style="">
                  Sede Marfil, Guanajuato. <br>
                  Guanajuato,Guanajuato. México. <br>
                  Email: futurelab@gmail.com <br>
                  Telefono: (477) 000 0000</p>
          </div>
          <div class="text-left"
              style="width:250px; height:150px; display: inline-block;  margin: 20px; color:white;">
              <p style="ccolor:white;"><b>Redes sociales</b></p>
              <a href="https://www.facebook.com/f.lab.mx/"
                  style="color:white;; text-decoration: none;">Facebook</a> <br>
              <a href="https://twitter.com/futurelabmx?s=09" style="color:white; text-decoration: none;">Twitter</a> <br>
              <a href="https://futurelab.mx/" style="color:white; text-decoration: none;">Website</a> <br>
              <a href="https://instagram.com/futurelabmx?igshid=1akzaap3vbfyc"
                  style="color:white;text-decoration: none;">Instagram</a> <br>
          </div>
          <div class="text-center" style="font-size: 12px; color:white;">
              2019 Future Lab - Sitio web por #AlfaBuenaMaravillaEscuadronLobo
          </div>
      </div>

  
  <!--Pie de página-->
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>